version: "3.9"

services:
  # =========================
  # USER SERVICE
  # =========================
  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: userpass
    ports:
      - "5432:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      DB_HOST: user-db
      DB_PORT: 5432
      DB_NAME: user_db
      DB_USER: user
      DB_PASSWORD: userpass
    ports:
      - "8080:8080"
    depends_on:
      - user-db

  # =========================
  # ORDER SERVICE
  # =========================
  order-db:
    image: postgres:16
    container_name: order-db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order
      POSTGRES_PASSWORD: orderpass
    ports:
      - "5433:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8081:8080"
    depends_on:
      - order-db
      - user-service

  # =========================
  # PRODUCT SERVICE
  # =========================
  product-db:
    image: postgres:16
    container_name: product-db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: product
      POSTGRES_PASSWORD: productpass
    ports:
      - "5434:5432"
    volumes:
      - product_db_data:/var/lib/postgresql/data

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8082:8080"
    depends_on:
      - product-db

# =========================
# VOLUMES
# =========================
volumes:
  user_db_data:
  order_db_data:
  product_db_data:
