spring:
  application:
    name: order-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://order-db:5432/order_db}
    username: ${DB_USER:order}
    password: ${DB_PASSWORD:orderpass}

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    open-in-view: false

clients:
  product-service:
    base-url: ${PRODUCT_SERVICE_BASE_URL:http://product-service:8080}
  http:
    connect-timeout-ms: ${HTTP_CONNECT_TIMEOUT_MS:2000}
    read-timeout-ms: ${HTTP_READ_TIMEOUT_MS:5000}

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  otlp:
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://tempo:4317}
