server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://product-db:5432/product_db
    username: product
    password: productpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG