@tailwind base;
@tailwind components;
@tailwind utilities;

/* Xóa bỏ toàn bộ CSS mặc định của Vite ở đây để Tailwind tự quản lý layout */
body {
  margin: 0;
  background-color: #f9fafb; /* Màu xám nhạt cho nền */
}